{{ define "main" }}

<main aria-role="main">
    <section class="hero">
        <div class="overlay">
            <h1>{{ .Title }}</h1>
            <div class="tagline">{{ .Params.Tagline }}</div>
            <article>
                {{ .Content }}
            </article>
        </div>
    </section>

    <section>
        <div class="overlay postlist">
            {{ range (.Pages.ByParam "order") }}
            <p>
                <span class="dateprefix">{{ .Date.Format "Jan '06"}}</span>
                <a class="summaryLink" href="{{.Permalink}}">{{ .Title }}</a>
            </p>
            {{ end }}
        </div>
    </section>
</main>

{{ end }}
