{{ define "main" }}

<div class="hero inverted">
    <h1>{{ .Title }}</h1>
    <div class="meta">
        <div class="meta-item date desktop" itemprop="datepublished">{{ .Date.Format "2 January 2006" }}</div>
        <div class="meta-item date mobile" itemprop="datepublished">{{ .Date.Format "2 Jan 2006" }}</div>

        {{ if ne .Dir "/" }}
        <div class="meta-item readtime" itemprop="duration">{{ .ReadingTime }} min read</div>
        {{ end }}
    </div>
</div>
<article>
    {{ .Content }}

    {{ if ne .Dir "/" }}
    <hr/>
    <p>
        <p class="prevInSection">
            {{ if .PrevInSection }}
            &larr;
            <a href="{{ .PrevInSection.Permalink }}"><em>{{ .PrevInSection.Title }}</em></a>
            {{ end }}
        </p>
        <p class="nextInSection">
            {{ if .NextInSection }}
            <a href="{{ .NextInSection.Permalink }}"><em>{{ .NextInSection.Title }}</em></a>
            &rarr;
            {{ end }}
        </p>
    </p>
    {{ end }}
</article>

{{ end }}
